.page-general {
  width: 60%;
  margin-left: 20%;
}

.content-general {
  margin: 20px 20px 0 20px;
}

.main-title { 
  text-align: center;
}

.sub-title { 
  text-align: center;
  margin-top: 50px;
}

.strong {
  font-weight: bold;
  color: darkblue;
}

a {
  color: blue;
}





@media only screen and (max-width: 700px){

  
  .page-general {
    width: 90%;
    margin-left: 0.5rem;
  }
  
  .content-general {
    margin: 1rem 1rem 0 1rem;
  }
  
  .main-title { 
    text-align: center;
  }
  
  .sub-title { 
    text-align: center;
    margin-top: 50px;
  }
  
  .strong {
    font-weight: bold;
    color: darkblue;
  }
  
  a {
    color: blue;
  }
  
}