.page-general {
  width: 60%;
  margin-left: 20%;
}

.content-general {
  margin: 20px 20px 0 20px;
}

.main-title { 
  text-align: center;
}

.sub-title { 
  text-align: center;
  margin-top: 50px;
}

.strong {
  font-weight: bold;
  color: darkblue;
}

a {
  color: blue;
}


.gridClientBtContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  color: red;
  font-weight: bold;
}

.messageSettings {
  margin-left: 20px;
}

.message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.noMessage {
  color: transparent;
}

.gridBtnEdit {
  display: grid;
  grid-template-columns: auto;
  margin-left: 35%;
  margin-right: 35px;
}

.gridBtnSC {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 30%;
  margin-right: 30%;
}

.formPosition {
  margin-left: 15px;
  margin-right: 15px;
}





@media only screen and (max-width: 700px){

  
  .page-general {
    width: 90%;
    margin-left: 0.5rem;
  }
  
  .content-general {
    margin: 1rem 1rem 0 1rem;
  }
  
  .main-title { 
    text-align: center;
  }
  
  .sub-title { 
    text-align: center;
    margin-top: 50px;
  }
  
  .strong {
    font-weight: bold;
    color: darkblue;
  }
  
  a {
    color: blue;
  }
  
  

}