.hiddenTable{
  visibility: hidden;
}

.showTable{
  visibility: visible;
}

.gridClientBtContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  color: red;
  font-weight: bold;
}

.messageSettings {
  margin-left: 20px;
}

.message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.noMessage {
  color: transparent;
}

.gridBtnEdit {
  display: grid;
  grid-template-columns: auto;
  margin-left: 35%;
  margin-right: 35%;
}

.gridBtnSC {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 30%;
  margin-right: 30%;
}

.formPosition {
  margin-left: 15px;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
