

.twoThirds{
  /* limits the component to 2/3s of the page */
  width: 65%;
}

.frame{
  max-width: 1200px;
  margin: 1rem auto;
}


.gridClientBtContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  color: red;
  font-weight: bold;
}

.messageSettings {
  margin-left: 20px;
}

.message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.noMessage {
  color: transparent;
}

.gridBtnEdit {
  display: grid;
  grid-template-columns: auto;
  margin-left: 35%;
  margin-right: 35px;
}

.gridBtnSC {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 30%;
  margin-right: 30%;
}

.formPosition {
  max-width: 700px;
  margin-left: 5rem;
  margin-right: 8rem;
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.register {
  margin: 0 20rem 0 10rem;
}

.card-settings{
  background-color: lightblue;
  padding: 1rem;
  width: 100%;
  margin-left: 10%;
}

.form-control {
  background-color: lightyellow;
}

.showHamburguer {
  display: none;
}

.cardLabel {
  font-weight: bold;
}

.cardTitle {
  font-weight: bolder;
  font-style: oblique;
  font-size: x-large;
}


.invoiceGenMsg {
  margin-left: 30px;
  color: red;
  font-weight: bold;
}

.cardInvoiceGenListofClockins {
  margin-left: 10%;
  width: 100%;
}


@media only screen and (max-width: 800px){

  .showNormalMenu {
    display: none;
  }

  .showHamburguer {
    display: block;
  }

  .navBar {
    color: green;
  }

  /* WRAPPER */
  .frame{
    margin: 1rem 1rem;
  }

  .twoThirds{
    /* limits the component to 2/3s of the page */
    width: 95%;
  }

  .card-settings{
    width: 100%;
    margin-left: 0%;
  }

  .cardInvoiceGenListofClockins {
    margin-left: 0%;
    width: 100%;
  }

  .formPosition {
    margin: 0 2rem 0 2rem;
  }
}
