

.twoThirds{
  /* limits the component to 2/3s of the page */
  width: 65%;
}

.frame{
  max-width: 1200px;
  margin: 1rem auto;
}


.gridClientBtContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  color: red;
  font-weight: bold;
}

.messageSettings {
  margin-left: 20px;
}

.message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.noMessage {
  color: transparent;
}

.gridBtnEdit {
  display: grid;
  grid-template-columns: auto;
  margin-left: 35%;
  margin-right: 35px;
}

.gridBtnSC {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 30%;
  margin-right: 30%;
}

.formPosition {
  max-width: 700px;
  margin: auto;
  /* margin-left: 5rem;
  margin-right: 8rem; */
}

.contents { 
  text-align: center;
  margin-top: 50px;
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.register {
  margin: 0 20rem 0 10rem;
}

.card-settings{
  background-color: lightblue;
  padding: 1rem;
  width: 100%;
  /* margin-left: 1rem; */
}

.form-control {
  background-color: lightyellow;
}

.showHamburguer {
  display: none;
}

.cardLabel {
  font-weight: bold;
}

.cardTitle {
  font-weight: bolder;
  font-style: oblique;
  font-size: x-large;
}


.invoiceGenMsg {
  margin-left: 30px;
  color: red;
  font-weight: bold;
}

.cardInvoiceGenListofClockins {
  margin-left: 0%;
  width: 100%;
}

.cardInvoiceGenListofInvoices {
  margin-left: 10%;
  width: 100%;
}

.messageFailure {
  margin-top: 15px;
  color: red;
  font-weight: bold;
  text-align: center;
}

.messageSuccess {
  margin-top: 15px;
  color: green;
  font-weight: bold;
  text-align: center;
}

.homeBack {
  background-color: gainsboro;
  height: 100%;
  /* height: 600px; */
}

.card-header {
  font-size: x-large;
}

.modal-content {
  background-color: gainsboro;
}

.landPosition {
  margin-left: 4rem;
}

.bigCardPosition {
  background-color: aliceblue;
  max-width: 900px;
  margin: auto;
}

.cardsPresentationPosition {
  margin: 1rem;
}

.iconSettings {
  height: 30px;
  width: 30px;
  /* margin: auto; */
  /* margin-bottom: 10px;
  margin-left: 12%; */
}

.iconSettingsOpacity {
  height: 30px;
  width: 30px;
  opacity: 0.6;
}

.strong {
  font-weight: bold;
  /* color: darkgreen; */
  /* text-decoration: underline; */
}

a {
  color: blue;
}



@media only screen and (max-width: 800px){

  .showNormalMenu {
    display: none;
  }

  .showHamburguer {
    display: block;
  }

  .navBar {
    color: green;
  }

  /* WRAPPER */
  .frame{
    margin: 1rem 1rem;
  }

  .twoThirds{
    /* limits the component to 2/3s of the page */
    width: 95%;
  }

  .card-settings{
    width: 100%;
    margin-left: 0%;
  }

  .cardInvoiceGenListofClockins {
    margin-left: 0%;
    width: 100%;
  }

  .cardInvoiceGenListofClockinsModal {
    margin-left: 0%;
    width: 100%;
  }

  .cardInvoiceGenListofInvoices {
    margin-left: 0%;
    width: 100%;
  }

  .formPosition {
    max-width: 88%;
    margin: auto;
  }

  .iconSettingsOpacity {
    opacity: 0.2;
  }

}
