.title {
  text-align: center;
  padding-top: 2rem;
}

.info {
  padding-top: 1rem;
  padding-right: 30px;
  text-align: right;
  font-weight: bolder;
}

.pdf-card {
  margin: 15px 5px;
  border: solid 2px blue;
  border-radius: 10px;
}

.pdf-card-people {
  border: none;
  background-color: gainsboro;
  width: 50%;
  padding-left: 15px;
  text-align: center;
}

.pdf-card-people-item {
  text-align: left;
  font-weight: bolder;
  font-size: large;
  padding-left: 10px;
}

.pdf-table {

}

.pdf-table-title {

}

.pdf-table-items {

}

.modal-format {
  /* width         : 500; */
  /* max-width     : 80%; */
  /* min-width     : 600px; */
  height        : 75%;
  /* // left: "0";
  // top: "0; */
  top           : auto;
  /* top           : '50%'; */
  left          : '50%';
  right         : 'auto';
  bottom        : auto;
  margin-right  : '-50%';
  transform     : 'translate(-50%, -50%)';
  overflow      : 'scroll'  
}


@media only screen and (max-width: 800px){
  /* .modal-format {
    width         : "95%";
    height        : "85%";
    top           : '50%';
    left          : '50%';
    right         : 'auto';
    bottom        : 'auto';
    margin-right  : '-50%';
    transform     : 'translate(-50%, -50%)';
    overflow      : 'scroll'  
  } */
}